# files to be ignored

# every pycache directory
__pycache__

# audio files
stage_1/audio_files/*.wav
# but not certain audio files
!stage_1/audio_files/vignesh.wav

# log files
logs

# plots
plots

# models
# models

# everything inside the log
/logs/

# debugging configurations
.vscode/